<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("../partials/head") %> 
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <div class="app">
    <div class="main px-4">
      <div class="sidebar overflow-auto pt-2 pb-5 mt-0">
        <a href="/" class="text-decoration-none"><h1>LinhPlusBlog</h1></a>
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
            <a href="/admin" class="nav-link link-dark" aria-current="page">
              <i class="fa fa-home" aria-hidden="true"></i>
              DashBoard
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-dark " href="/admin/posts" aria-expanded="true">
              <i class="fas fa-file-alt"></i>
              Posts
            </a>
          </li>
          <li class="nav-item">
            <a href="/admin/tags" class="nav-link link-dark" >
              <i class="fa fa-tags" aria-hidden="true"></i>
              Tags
            </a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link link-dark active" >
              <i class="fa fa-list-ul" aria-hidden="true"></i>
              Categories
            </a>
          </li>
          <li class="nav-item">
            <a href="/admin/users" class="nav-link link-dark" >
              <i class="fas fa-user"></i>
              Users
            </a>
          </li>
          <li class="nav-connect">
            <ul class="connect-me list-style-none d-flex justify-content-center p-0">
              <li class="p-2"><a href=""><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
              <li class="p-2"><a href=""><i class="fab fa-github" aria-hidden="true"></i></i></a></li>
              <li class="p-2"><a href=""><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
              <li class="p-2"><a href=""><i class="fab fa-blogger" aria-hidden="true"></i></a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="content">
        <div class="posts px-4">
          <div class="text-center">
            <h1 class="mb-4">My Category</h1>
            <button class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#addCategoryModal">New Tag</button>
          </div>
          <table class="table">
            <thead>
              <th scope="col" colspan="2">id</th>
              <th scope="col">title</th>
              <th scope="col">action</th>
              <th scope="col" colspan="2"></td>
            </thead>
            <tbody id="categoryList">
              <% if(categories.length){ %>
                <% categories.forEach((category, index)=>{ %>
                <tr>
                  <td scope="row"><input type="checkbox" name="" id="" data-id="<%= category.id %>" class="form-check-input checkbox-post"></td>
                  <td scope="row"><%= category.id %></td>
                  <td scope="row" class="category-name"><a href="/category/<%= category.name %>"><%= category.name %></a></td>
                  <td scope="row" class="">
                    <a  data-bs-target="#editCategoryModal" data-bs-toggle="modal" class="btn btn-secondary" data-id="<%= category.id %>" data-name="<%= category.name %>">edit</a>
                    <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteCategoryModal" data-id="<%= category.id %>">delete</a>
                  </td>
                </tr>
                <% }) %>
              <% } else{ %> 
                <tr> 
                  <td colspan="5">
                  There are no categories
                  </td>
                </tr> 
              <% } %>
            </tbody>
          </table>
          <!-- modal delete -->
          <div class="modal fade" id="deleteCategoryModal" tabindex="-1" aria-labelledby="deleteCategoryModal">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Delete</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p>Do you sure want to delete ?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-danger" id="btnDeleteCategory">Delete</button>
                </div>
              </div>
            </div>
          </div>
          <!--  modal edit  category -->
          <div class="modal fade" tabindex="-1" id="editCategoryModal">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Edit Category</h5>
                </div>
                <div class="modal-body">
                  <input type="text" class="form-control" id="editInput">
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" id="btnEditCategory">Edit</button>
                </div>
              </div>
            </div>
          </div>
          <!--  modal add category -->
          <div class="modal fade" tabindex="-1" id="addCategoryModal">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">New Category</h5>
                </div>
                <div class="modal-body">
                  <input type="text" class="form-control" id="addInput">
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" id="btnAddCategory">Add</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ul class="nav-mobile list-style-none">
      <li class="top-link">
        <div class="btn rounded-circle btn-danger shadow" onclick="window.scrollTo({top:0})">
          <i class="fa fa-arrow-up" aria-hidden="true"></i>
        </div>
      </li>
    </ul>
  </div>
  <%- include("../auth/login") %>
  <script src="/js/home.js"></script>
  <script src="/js/login.js"></script>
  <script src="/js/admin/categories.js"></script>
</body>
</html>