<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("../partials/head") %> 
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <div class="app">
    <header class="sticky-top">
      <% if(user) {%> 
      <%- include("../partials/nav",{user:user}) %>
      <%}else {%> 
      <%- include("../partials/nav") %>
      <% } %> 
    </header>
    <div class="main px-4">
      <div class="sidebar overflow-auto pt-2 pb-5">
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
            <a href="/" class="nav-link link-dark" aria-current="page">
              <i class="fa fa-home" aria-hidden="true"></i>
              Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-dark" data-bs-toggle="collapse" href="#categoryList" aria-expanded="true">
              <i class="fa fa-list" aria-hidden="true"></i>
              Category
            </a>
            <ul id="categoryList" class="collapse show mr-2 list-group list-group-flush">
              <% if(categories){ %>
                <% categories.forEach(category=>{ %>
                  <li class="list-group-item list-group-item-action"><a class="text-decoration-none" href="/category/<%= category.name %>"><%= category.name %> </a></li>
              <%  }) %>
              <% } %>
            </ul>
          </li>
          <li class="nav-item">
            <a href="#tagList" class="nav-link link-dark" data-bs-toggle="collapse" >
              <i class="fa fa-tags" aria-hidden="true"></i>
              Tag
            </a>
            <ul class="collapse show list-style-none list-group list-group-flush" id="tagList" >
              <% if(tags){ %>
                <% tags.forEach(tag=>{ %>
                  <li class="list-group-item list-group-item-action"><a href="/tag/<%= tag.name %>" class="text-decoration-none"><%= tag.name %></a></li>
              <%  }) %>
              <% } %>
            </ul>
          </li>
          <li class="nav-connect">
            <ul class="connect-me list-style-none d-flex justify-content-center p-0">
              <li class="p-2"><a href=""><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
              <li class="p-2"><a href=""><i class="fab fa-github" aria-hidden="true"></i></i></a></li>
              <li class="p-2"><a href=""><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
              <li class="p-2"><a href=""><i class="fab fa-blogger" aria-hidden="true"></i></a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="content row">
        <div class="posts px-4 col-xl-9">
          <div class="post-list-header d-flex my-2">
            <h5>Bài đăng mới nhất</h5>
            <div class="list-mode ms-auto btn btn-primary" id="btnChangeListMode">
              <span>Grid</span>
              <i class="fas fa-th-large"></i>
            </div>
          </div>
          <div class="post-list row g-3">
            <% if(posts){ %> 
              <% posts.forEach((post,index)=>{ %>
                <div class="col-xl-12"> 
                  <div class="post-item container-fluid d-flex shadow rounded py-2">
                    <div class="post-item-thumbnail me-3">
                      <a href="/post/<%= post.slug %>" class="text-decoration-none rounded" style="background-image: url('<%= post.image %>');">
                      </a>
                    </div>
                    <div class="post-content">
                      <div class="post-tag">
                        <% post.Tags.forEach((tag,index)=>{ %> 
                          <a href="/tag/<%= tag.name %>" class="tag-link">#<%= tag.name %> </a>
                        <% }) %>
                      </div>
                      <h6 class="post-title">
                        <a href="/post/<%= post.slug %>" class="text-decoration-none text-dark"><%= post.title %> </a>
                      </h6>
                      <div class="post-info ">
                        <div class="post-author">
                          <a href="/user/<%= post.User.username%>" class="text-decoration-none text-secondary"><%= post.User.username %> </a>
                        </div>
                        <div class="post-published">
                          <%  let date = new Date(post.createdAt)  %>
                          <%= `${date.getMonth()}/${date.getDate()}/${date.getFullYear()},${date.getHours()}:${date.getMinutes()}` %> 
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% }) %> 
            <% } %> 
          </div>
          <div class="btn-more-wrapper my-2 d-flex">
            <button type="button" class="btn btn-outline-primary m-auto">Thêm</button>
          </div>
        </div>
        <div class="col-xl-3">
          <div class="popular-post">
            <div class="popular-post-header pt-2">
              <h4>Bài viết phổ biến</h4>
            </div>
            <div class="popular-post-list">
              <% popularPosts.forEach(popularPost=>{ %> 
                <div class="popular-post-item d-flex p-2">
                  <div class="popular-post-item-order">
                  </div>
                  <div class="post-content">
                    <h6 class="post-title">
                      <a href="/post/<%= popularPost.slug %>" class="text-decoration-none text-dark"><%= popularPost.title%></a>
                    </h6>
                    <div class="post-tag">
                      <% popularPost.tags.forEach(tag=>{%>
                        <a href="/tag/<%= tag.name %>" class="tag-link">#<%= tag.name %></a>
                      <% }) %> 
                    </div>
                    <div class="post-info ">
                      <div class="post-author">
                        <a href="/user/<%= popularPost.author.username %>" class="text-decoration-none text-secondary"><%= popularPost.author.username %></a>
                      </div>
                      <div class="post-published">
                        <%- include("../helpers/format_date.helper.ejs",{timestamp: popularPost.createdAt}) %>
                      </div>
                    </div>
                  </div>
                </div>
              <% }) %>
            </div>

          </div>
        </div>
        <footer class="col-xl-12">
          <%- include("../partials/footer.ejs") %> 
        </footer>
      </div>
    </div>
    <ul class="nav-mobile list-style-none">
      <li class="top-link">
        <div class="btn rounded-circle btn-danger shadow" onclick="window.scrollTo({top:0})">
          <i class="fa fa-arrow-up" aria-hidden="true"></i>
        </div>
      </li>
    </ul>
  </div>
  <%- include("../auth/login") %>
  <script src="/js/home.js"></script>
  <script src="/js/login.js"></script>
</body>
</html>